* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.header {
  height: 30%;
  width: 100%;
  display: flex;
}

.header-left {
    height: 100%;
    width: 30%;
    background-color: #573F2E;
}

.header-right {
    height: 100%;
    width: 70%;
    background-color: #3E2D21;
}

.main {
    height: 70%;
    width: 100%;
    background-color: pink;
    display: flex;
}

.main-left {
    height: 100%;
    width: 30%;
    background-color: #FAEDED;
}

.main-right {
    height: 100%;
    width: 70%;
}

.one {
    height: 70%;
    width: 100%;
    background-color: #6A4021;
}

.two {
    height: 30%;
    width: 100%;
    background-color: #3E2D21;
}